.contatoContainer {
    display: flex;
    animation: toRight .3s forwards;
    opacity: 0;
}

@keyframes toRight {
    from {
        transform: translateX(-20px);
    }
    
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.contatoContainer h2 {
    font-size: 1.3rem;
}